.logo {
  display: block;
  width: 228px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s ease-in-out;
}
.logo:hover {
  transform: translate(15px, 0);
}
